#chatroom {
  max-height: 500px;
  overflow-y: auto;
}

body {
  background-color: #e3e3e3;
}

.lobbys-container > .row > .col {
  background-color: white;
  min-height: 100vh;
}

.lobbys-container #lobbys table tr:nth-child(even) {
  background-color: #ececec;
}

#lobby {
  display: none;
}

#game {
  display: none;
}
